## Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
  - osx
julia:
  - 0.6
  - 0.7
  - 1.0
  - nightly
matrix:
  allow_failures:
  - julia: nightly
branches:
  only:
    - master
    - /^v[0-9]+\.[0-9]+\.[0-9]+$/ # version tags
notifications:
  email: false
git:
  depth: 99999999
after_success:
  # push coverage results to Codecov
  - julia -e 'if VERSION >= v"0.7-"; using Pkg; else; cd(Pkg.dir("RigidBodySim")); end; Pkg.add("Coverage"); using Coverage; Codecov.submit(process_folder())'
  # build documentation
  - julia -e 'using Pkg; Pkg.activate("docs"); Pkg.instantiate(); Pkg.add(Pkg.PackageSpec(path=pwd())); include("docs/make.jl")'
